<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Great job, your setup is complete.</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                   <div class="row">
                       <div class="col-sm-12 col-md-6 col-lg-4 col-lg-offset-2" ui-sref="food.foodSubCategories">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Begin Inventory Now</a>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="home.home">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Count Inventory Later</a>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h4>Helpful Tip</h4>
                                    <hr/>
                                </div>
                            </div>
                            <div class="">
                                <div class="full-height-scroll" full-scroll>
                                    <p class="padding-top-5">
                                        Now for the final step. An actual physical
                                        inventory count has to be done before we can generate your first report. An inventory is
                                        not required to receive a weekly report however it is required in order for us to begin
                                        the process. To start your inventory now simply click below. To begin your inventory
                                        later simply select "Count Inventory Later" and from your home screen you'll select
                                        Inventory -> Food Begin -> Inventory Count.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>