<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Inventory Purchases Report</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content overflow-x-auto">

                    <table class="table table-bordered">
                        <thead class="th-text-center">
                        <tr>
                            <th>Vendor Name</th>
                            <th>Inventory Item Type</th>
                            <th>Inventory Item Description</th>
                            <th>Pkg Unit Item Type</th>
                            <th>Skrible Suggested Order</th>
                            <th>Actual Inventory Order</th>
                            <th>Variance</th>
                            <th>Actual Inventory Order2</th>
                            <th>Inventory Items POS Sales</th>
                            <th>Variance2</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Ben</strong></td>
                            <td>Meat</td>
                            <td>Steak</td>
                            <td>Individual</td>
                            <td>16</td>
                            <td>15</td>
                            <td class="text-danger">(1)</td>
                            <td>15</td>
                            <td>12.20</td>
                            <td>2.80</td>
                        </tr>
                        <tr>
                            <td><strong>Ben</strong></td>
                            <td>Meat</td>
                            <td>Chicken</td>
                            <td>Pounds</td>
                            <td>6</td>
                            <td>7</td>
                            <td>1</td>
                            <td>7</td>
                            <td>7.24</td>
                            <td>-0.24</td>
                        </tr>
                        <tr>
                            <td><strong>Sysco</strong></td>
                            <td>Fruit</td>
                            <td>Apples</td>
                            <td>Pounds</td>
                            <td>6</td>
                            <td>6</td>
                            <td>0</td>
                            <td>6</td>
                            <td>6.41</td>
                            <td>-0.41</td>
                        </tr>
                        <tr>
                            <td><strong>Ben</strong></td>
                            <td>Vegetables</td>
                            <td>Celery</td>
                            <td>Case</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>2.22</td>
                            <td>-1.22</td>
                        </tr>
                        <tr>
                            <td><strong>Sysco</strong></td>
                            <td>Seafood</td>
                            <td>Crab Legs</td>
                            <td>Case</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3.74</td>
                            <td>-1.74</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>TOTAL</strong></td>
                            <td></td>
                            <td>30</td>
                            <td>31</td>
                            <td>1</td>
                            <td>31</td>
                            <td>31.81</td>
                            <td>-0.81</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>