<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Inventory Purchases Report</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content overflow-x-auto">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                        <thead class="th-text-center">
                        <tr>
                            <th class="min-width-115">Vendor Name</th>
                            <th class="width-100">Inventory Item Type</th>
                            <th class="width-100">Inventory Item Description</th>
                            <th class="width-100">Pkg Unit Item Type</th>
                            <th class="width-80">Skrible Suggested Order</th>
                            <th class="width-80">Actual Inventory Order</th>
                            <th class="width-80">Variance</th>
                            <th class="width-80">Actual Inventory Order2</th>
                            <th class="width-80">Inventory Items POS Sales</th>
                            <th class="width-80">Variance2</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td  class="performance-table-color"><strong>Ben</strong></td>
                            <td>Meat</td>
                            <td>Steak</td>
                            <td>Individual</td>
                            <td class="text-center">16</td>
                            <td class="text-center">15</td>
                            <td class="text-danger text-center">(1)</td>
                            <td class="text-center">15</td>
                            <td class="text-center">12.20</td>
                            <td class="text-center">2.80</td>
                        </tr>
                        <tr>
                            <td  class="performance-table-color"><strong>Ben</strong></td>
                            <td>Meat</td>
                            <td>Chicken</td>
                            <td>Pounds</td>
                            <td class="text-center">6</td>
                            <td class="text-center">7</td>
                            <td class="text-center">1</td>
                            <td class="text-center">7</td>
                            <td class="text-center">7.24</td>
                            <td class="text-center">-0.24</td>
                        </tr>
                        <tr>
                            <td  class="performance-table-color"><strong>Sysco</strong></td>
                            <td>Fruit</td>
                            <td>Apples</td>
                            <td>Pounds</td>
                            <td class="text-center">6</td>
                            <td class="text-center">6</td>
                            <td class="text-center">0</td>
                            <td class="text-center">6</td>
                            <td class="text-center">6.41</td>
                            <td class="text-center">-0.41</td>
                        </tr>
                        <tr>
                            <td  class="performance-table-color"><strong>Ben</strong></td>
                            <td>Vegetables</td>
                            <td>Celery</td>
                            <td>Case</td>
                            <td class="text-center">1</td>
                            <td class="text-center">1</td>
                            <td class="text-center">0</td>
                            <td class="text-center">1</td>
                            <td class="text-center">2.22</td>
                            <td class="text-center">-1.22</td>
                        </tr>
                        <tr>
                            <td  class="performance-table-color"><strong>Sysco</strong></td>
                            <td>Seafood</td>
                            <td>Crab Legs</td>
                            <td>Case</td>
                            <td class="text-center">1</td>
                            <td class="text-center">2</td>
                            <td class="text-center">1</td>
                            <td class="text-center">2</td>
                            <td class="text-center">3.74</td>
                            <td class="text-center">-1.74</td>
                        </tr>
                        <tr>
                            <td  class="performance-table-color"></td>
                            <td> &nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td  class="performance-table-color"></td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="text-bold-total">
                            <td  class="performance-table-color"></td>
                            <td></td>
                            <td><strong>TOTAL</strong></td>
                            <td></td>
                            <td class="text-center">30</td>
                            <td class="text-center">31</td>
                            <td class="text-center">1</td>
                            <td class="text-center">31</td>
                            <td class="text-center">31.81</td>
                            <td class="text-center">-0.81</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h4>Helpful Tip</h4>
                                    <hr/>
                                </div>
                            </div>
                            <div class="">
                                <div class="full-height-scroll" full-scroll>
                                    <strong>Notes</strong>
                                    <p class="padding-top-5">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>