<div class="middle-box text-center loginscreen  animated fadeInDown padding-top-150">
    <div>
        <h3>Login Panel</h3>

        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Login or email address" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" ui-sref="admin.home" class="btn btn-primary block full-width m-b">Login now</button>

          <!--  <a class="create-new-account" ui-sref="register">or Create new account</a>-->
        </form>
    </div>
</div>