<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>New Food Order</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content overflow-x-auto">

                    <table class="table table-bordered">
                        <thead class="th-text-center">
                        <tr>
                            <th>Vendor</th>
                            <th>Item Description</th>
                            <th>Suggested Order</th>
                            <th>Suggested Order Type</th>
                            <th>Actual Order</th>
                            <th>Actual Order Type</th>
                            <th>Item Cost</th>
                            <th>Total Order Cost</th>
                            <th>(+/-) Suggested Order</th>
                            <th>Approve</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Sysco</td>
                            <td>Chicken Breast</td>
                            <td>6</td>
                            <td>Case</td>
                            <td>6</td>
                            <td>Case</td>
                            <td>$1.25</td>
                            <td>$957.00</td>
                            <td>0</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"><i></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Sysco</td>
                            <td>Beef Patties</td>
                            <td>2</td>
                            <td>Case</td>
                            <td>4</td>
                            <td>Case</td>
                            <td>$0.10</td>
                            <td>$225.00</td>
                            <td>2</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"><i></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Sysco</td>
                            <td>Flour</td>
                            <td>36</td>
                            <td>Unit</td>
                            <td>24</td>
                            <td>Unit</td>
                            <td>$1.25</td>
                            <td>$76.00</td>
                            <td>-12</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"><i></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>TOTAL</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-info"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>