<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Order Summary</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content overflow-x-auto">

                    <table class="table table-bordered">
                        <thead class="th-text-center">
                        <tr>
                            <th colspan="4">Order Summary</th>
                            <th colspan="6">Delivery Confirmation</th>
                        </tr>
                        <tr>
                            <th>Vendor</th>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Order Total</th>
                            <th>Confirm Delivery</th>
                            <th>Invoice Number</th>
                            <th>Delivery Date</th>
                            <th>Delivery Time</th>
                            <th>Total Invoice Amount</th>
                            <th>Approve</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Ben E.Keith</td>
                            <td>114125</td>
                            <td>1/1/2018</td>
                            <td>$625.22</td>
                            <td>Yes</td>
                            <td>11474</td>
                            <td>1/2/2018</td>
                            <td>9:15AM</td>
                            <td>$625.22</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"><i></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Andrews</td>
                            <td>114126</td>
                            <td>1/1/2018</td>
                            <td>$4,253.01</td>
                            <td>Yes</td>
                            <td>2241</td>
                            <td>1/2/2018</td>
                            <td>8:32AM</td>
                            <td>$4,253.01</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"><i></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Sysco</td>
                            <td>114127</td>
                            <td>1/9/2018</td>
                            <td>$2,241.20</td>
                            <td>No</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"><i></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Sigeis</td>
                            <td>114128</td>
                            <td>1/13/2018</td>
                            <td>$1,142.00</td>
                            <td>Yes</td>
                            <td>78774</td>
                            <td>1/14/2018</td>
                            <td>2:10PM</td>
                            <td>$1,423.01</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"><i></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td></td>
                            <td>$8,261.43</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>$6,301.24</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>