<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>1. POS Selection</h2>
        <ol class="breadcrumb">
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">1</span><strong class="text-info vertical-align-bottom  active-breadcrumb"> POS Selection</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">2</span><strong class="text-info vertical-align-bottom"> Account Level</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">3</span><strong class="text-info vertical-align-bottom"> Owner Profile</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">4</span><strong class="text-info vertical-align-bottom"> Restaurant Profile</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">5</span><strong class="text-info vertical-align-bottom"> Payment Profile</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">6</span><strong class="text-info vertical-align-bottom"> User Setup</strong>
            </li>
        </ol>
        <br>
        <ol class="breadcrumb">
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">7</span><strong class="text-info vertical-align-bottom"> Vendor Setup</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">8</span><strong class="text-info vertical-align-bottom"> Inventory Setup</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">9</span><strong class="text-info vertical-align-bottom"> Recipe Setup</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">10</span><strong class="text-info vertical-align-bottom"> Menu Setup</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">11</span><strong class="text-info vertical-align-bottom"> Delivery Schedule</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Aloha</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Dinerware</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Positouch</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Micros</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Aloha</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Dinerware</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Positouch</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Micros</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Aloha</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Dinerware</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Positouch</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Micros</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Aloha</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Dinerware</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Positouch</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Micros</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Aloha</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Dinerware</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Positouch</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Micros</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Aloha</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Dinerware</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Positouch</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg">
                                <div class="text-center pos-element">
                                    <a class="pos-title">Micros</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h4>Helpful Tip</h4>
                                    <hr/>
                                </div>
                            </div>
                            <div class="">
                                <div class="full-height-scroll" full-scroll>
                                    <p class="padding-top-5">
                                        Please select the P.O.S. system that your restaurant currently uses. If you do not
                                        see your P.O.S. unfortunately our system will not work for you however we're
                                        consistently adding new connections but feel free to contact us with your brand of POS
                                        and we'll expedite the process.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
