<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>9. Recipe Setup</h2>
        <ol class="breadcrumb">
            <li>
                <span class="badge badge-primary vertical-align-bottom">1</span>
                <strong class="text-green vertical-align-bottom margin-left-4">
                    <a ui-sref="admin.pos">POS selection</a>
                </strong>
            </li>
            <li class="active">
                <span class="badge badge-primary vertical-align-bottom">2</span>
                <strong class="text-green vertical-align-bottom margin-left-4">
                    <a ui-sref="admin.posDetails">Account Level</a>
                </strong>
            </li>
            <li class="active">
                <span class="badge badge-primary vertical-align-bottom">3</span>
                <strong class="text-green vertical-align-bottom margin-left-4">
                    <a ui-sref="profile.setupProfile">Owner Profile</a>
                </strong>
            </li>
            <li class="active">
                <span class="badge badge-primary vertical-align-bottom">4</span>
                <strong class="text-green vertical-align-bottom margin-left-4">
                    <a ui-sref="profile.restaurantProfile">Restaurant Profile</a>
                </strong>
            </li>
            <li class="active">
                <span class="badge badge-primary vertical-align-bottom">5</span>
                <strong class="text-green vertical-align-bottom margin-left-4">
                    <a ui-sref="profile.paymentProfile">Payment Profile</a>
                </strong>
            </li>
            <li class="active">
                <span class="badge badge-primary vertical-align-bottom">6</span>
                <strong class="text-green vertical-align-bottom margin-left-4">
                    <a ui-sref="profile.userSetup">User Setup</a>
                </strong>
            </li>
        </ol>
        <br>
        <ol class="breadcrumb">
            <li class="active">
                <span class="badge badge-primary vertical-align-bottom">7</span>
                <strong class="text-green vertical-align-bottom margin-left-4">
                    <a ui-sref="food.vendorSetup">Vendor Setup</a>
                </strong>
            </li>
            <li class="active">
                <span class="badge badge-primary vertical-align-bottom">8</span>
                <strong class="text-green vertical-align-bottom margin-left-4">
                    <a ui-sref="food.vendorSetup">Inventory Setup</a>
                </strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">9</span><strong class="text-info vertical-align-bottom active-breadcrumb margin-left-4">Recipe Setup</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">10</span><strong class="text-info vertical-align-bottom margin-left-4">Menu Setup</strong>
            </li>
            <li class="active">
                <span class="badge badge-info vertical-align-bottom">11</span><strong class="text-info vertical-align-bottom margin-left-4">Delivery Schedule</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight owner-profile">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="text-center">Recipes</h3>
                            <button class="btn btn-primary float-right" ng-click="main.open4(main)">Add Recipe</button>
                            <table class="table table-stripped" data-page-size="8">
                                <thead>
                                <tr>
                                    <th>Recipe Name</th>
                                    <th>Type</th>
                                    <th>Number of Ingredients</th>
                                    <th class="max-180"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="recipe in main.recipeList">
                                    <td>{{recipe.name}}</td>
                                    <td>{{recipe.type}}</td>
                                    <td>{{recipe.cnt}}</td>
                                    <td class="text-right">
                                        <button class="btn btn-warning " type="button" ng-click="main.open5(main)"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                                        <button class="btn btn-danger " type="button"><i class="fa fa-times"></i>&nbsp;Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-primary margin-right-10 float-right" ui-sref="food.menuSetup">Next - Menu Setup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h4>Helpful Tip</h4>
                                    <hr/>
                                </div>
                            </div>
                            <div class="">
                                <div class="full-height-scroll" full-scroll>
                                    <strong>Recipe Setup Instructions</strong>
                                    <p class="padding-top-5">
                                        Instructions for restaurant user: Please enter the recipe for all items that are apart of your customer's menu including items prepared in large batches. And remember to include every detail with your recipe including oil & vinegar, down to a pinch of salt. After your recipes are created the next step will be attaching each recipe to your actual customer's menu.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>