<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="padding-left-20">
            <a class="navbar-brand navbar-link" href="">
                <i class="glyphicon glyphicon-cutlery"></i> Artecsan powered by Skrible
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li ng-click="main.logout()">
                <a ui-sref="logins">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
        <div class="float-right padding-left-20 padding-right-20" style="padding-top: 1px;">
            <span>
                   <strong>Contact Customer Support</strong><br>
                    (Monday - Friday) 8am - 6pm CST<br>
                    Email: <a href="mailto:support@skrible.com">support@skrible.com</a>
               </span>

        </div>
    </nav>
</div>
